html,
    body {
      margin: 0;
      min-height: 140px;
      padding: 0;
      width: 384px;
      font-size: 0.9em;
    }

    h1 {
      font-family: 'Courier New', Courier, monospace;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #2f5876;
    }

    a:link,
    a:visited {
      color: #000;
      outline: 0;
      text-decoration: none;
      padding: 5px;
    }

    img {
      width: 120px;
    }

    .modal-header {
      align-items: center;
      border-bottom: 0.5px solid #e7e7e7;
      display: flex;
    }

    .modal-content {
      padding: 0 22px;
    }

    .modal-icons {
      border-top: 0.5px solid #e7e7e7;
      width: 100%;
    }

    .logo {
      padding: 16px;
      margin: 0 auto;
    }

    .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
    }

    .flex-container {
      display: flex;
      justify-content: space-between;
      padding: 10px 45px;
    }

    .flex {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
      margin: auto 0;
    }

    .flex:hover {
      opacity: 0.4;
    }

    .logo h1 {
      display: inline-block;
    }

    .timekeeping {
      justify-content: space-evenly;
    }


    .tooltip {
      position: relative;
      display: inline-block;
    }


    .tooltip .tooltiptext {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      width: 120px;
      bottom: 115%;
      left: 50%;
      margin-left: -60px;

      position: absolute;
      z-index: 1;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
    }

    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 100%;
      /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

    i .fa {
      padding: 5px;
    }

    .logo-icon.shapes {
      width: 40px;
    }

    .box-placeholder {
      background: #DADADA;
      position: relative;
    }
    .box-placeholder:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 15px;
      background-color: #FFF;
    }

    .sortable-box {
      padding: 5px;
      height: 15px;
      width: 15px;
      background-color: #2F2F2F;
      margin: 0 0 15px;
      text-align: center;
      color: #FFF;
      border: 2px solid #444;
  }